 <div class="files-container">
    <div class="folder-nest">
        <%locals.nest.forEach(([name, id]) => {%>
        
                <span>></span><a href="/folder/<%= id %>"><%= name %></a>
        
        <%})%>
    </div>
        
            <% locals.files.forEach((file) => {%>
                <a class = 'file-container' href ="/folder/<%= folder.id %>/file/<%= file.id %>">
                        <p><%=file.originalname%></p>
                         <form action="/folder/<%= folder.id %>/file/<%= file.id %>/delete" method = 'POST'>
                            <button class = 'trash-btn'  type = 'submit'><img src="/assets/trash.svg" alt=""></button>
                        </form>
                </a>
            <% }) %>
        </div>