 <div class="sidebar">
            <button class = 'open-file-upload primary-btn'>
                Upload File
            </button>
            <button class = 'open-new-folder primary-btn'>
                New Folder
            </button>
            <div class="folders">
                <h2>Folders</h2>
                <ul>
                    <% locals.folders.forEach((f) => {%>
                        <li>
                            <a href = '/folder/<%= f.id%>'><%= f.name %></a>
                            <div class="folder-btn-container">
                                <button class = 'edit-btn' id = '<%= f.id %>'><img src="/assets/edit.svg" alt="edit"></button>
                                    <form action="/folder/<%= folder.id%>/delete/<%= f.id%>" method = "POST">
                                        <button class = 'trash-btn' type = 'submit'>
                                            <img src="/assets/trash.svg" alt="delete">
                                        </button>
                                    </form>
                             
                            </div>

                        </li>
                    <%})%>
                </ul>
            </div>
        </div>