<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
     <%- include('partials/nav')%>
     <a class = 'back-link' href="/folder/<%= file.folderid %>">My library</a>
    <div class="file-details center">
        
        <div class="header">
            <h1><%= file.originalname%></h1>
            <form action="/folder/<%= file.folderid %>/file/<%= file.id %>/delete" method = 'POST'>
                <button class = 'trash-btn'  type = 'submit'><img src="/assets/trash.svg" alt=""></button>
            </form>
        </div>
      
        <p><%= file.uploadedAt %></p>
        <p><%= file.size%> Bytes</p>
        <a href="/uploads/<%= file.name %>"><button class = 'primary-btn' >Download</button></a>
    </div>
    
</body>
</html>