<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/nav')%>
    <%- include('partials/sidebar')%>
    <%- include('partials/file-container')%>
    <%- include('partials/file-upload')%>
    <%- include('partials/new-folder')%>
    <%- include('partials/edit-folder')%>

        
   
</body>
</html>